<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kaffa.test.myalipay"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.LogIn"
            android:label="@string/title_activity_log_in" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.MainPage"
            android:label="@string/title_activity_main_page" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.ApplyComplaintActivity"
            android:label="@string/title_activity_complaint" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.ServiceInDetailsActivity"
            android:label="@string/title_activity_service_in_details"
            android:theme="@style/ServiceInDetail" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.ApplyRepairActivity"
            android:label="@string/title_activity_apply_repair" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.ApplyChangeActivity"
            android:label="@string/title_activity_apply_change" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.ApplyReturnActivity"
            android:label="@string/title_activity_apply_return" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.UserInfoEditActivity"
            android:label="@string/title_activity_user_info_edit" >
        </activity>
        <activity
            android:name="com.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.EWarrantyRegActivity"
            android:label="@string/title_activity_ewarranty_reg" >
        </activity>
        <activity
            android:name="sjtu.dclab.kaffa.ewarranty.UserRegisterActivity"
            android:label="@string/title_activity_user_register" >
        </activity>
    </application>

</manifest>
